*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;

}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflixbakroung.jpg);
    background-size: cover;
    background-position: center;

    padding: 1rem 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

}

.logo{

    width: 9rem;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 0.4rem 1rem; 
    font-size: 0.8rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 0.1rem solid #fff;
    padding: 0.3rem 0.8rem;


}

.language-btn img{
    width: 0.5rem;
    margin-left: 1rem;
    
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    margin-top: 4rem;
    
}

.header-content h1{
    font-size: 2.6rem;
    line-height: 2rem;
    font-weight: bold;
    max-width: 70rem;
    line-height: 4rem;

}

.header-content h3{
    font-weight: 500;
    margin-bottom: 2.2rem;
    color: #fff;

}

.header-content p{
    font-size: 1.2rem;

}
.email-signup{
    margin-top: 1rem;
}

.email-signup input{
   background: transparent;
    border: 1;
    outline: 0;
    margin-left: 2rem;
    padding: 1rem 2rem;
    font-weight: 200;
    width: 22rem;
    
}

.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.8rem 2.5rem;
    font-weight: 400;
}

.row-0,
.row-1,
.row-2,
.row-3{
    border-top: 0.6rem rgb(69, 69, 69) solid;
    padding: 5rem;
}

.row-0{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 1rem 2rem 2rem;

}

.text-col-0{
    padding: 6rem;
}

.features-row-col h1{
    font-size: 2.8rem;
    padding: 1rem;
    padding-left: 0;
}

.features-row-col p{
    font-size: 1.6rem;
    line-height: 2rem;
}
.row-0 video{
    position: relative;
    width: 102%;
    height: 55%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}
.row-0 img{
    grid-column: 2/2;
    grid-row: 1/2;
    width: 30rem;
   
}

.row-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 60%;
    text-align: left;
    align-items: center;
    padding: 1rem 2rem 2rem;
}

.text-col-1{
   padding: 6rem;
}

.row-1 img{
    width: 36rem;
}

.row-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 1rem 3rem 3rem;
}

.text-col-2{
    padding-left: 80px;
    padding-right: 20px;
}

.row-2 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.row-2 video{
    position: relative;
    top: -4.5rem;
    left: 5rem;
    width: 70%;
    height: 50%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.row-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 1rem 2rem 2rem;
}
 .text-col-3{
    padding: 4rem;
 }

 .row-3 img{
    width: 35rem;
 }

 .faq{
    text-align: center;
    border-top: 0.6rem rgb(69, 69, 69) solid;
    padding: 4rem;
 }

 .faq h1{
    padding-bottom: 3rem;
    font-size: 3rem;
 }

 .questions{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
 }

 .questions li{
    list-style: none;
    width: 70%;
    padding: 0.3rem;
 }

 .questions li label{
    display: flex;
    align-items: center;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    background: #303030;
    margin-bottom: 0.1rem;
    cursor: pointer;
    position: relative;
 }

 label::after{
    content: '+';
    font-size: 2.5rem;
    position: absolute;
    right: 2rem;
 }

 input[type="radio"]{
    display: none;
 }

.questions .content{
    background: #303030;
    text-align: left;
    padding: 0 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}


.questions input[type="radio"]:checked + label + .content{
    max-height: 25rem;
    padding: 3rem 2rem;
    padding-top: 0rem;
}

.questions input[type="radio"]:checked +label::after{
    transform: rotate(135deg);
}

 .faq p{
    padding-top: 50px;
    font-size: 1.2rem;
    font-weight: 150;
 }

 .submit{
    margin-top: 2rem;
 } 

 .submit input{
    background: transparent;
    border: 1;
    outline: 0;
    margin-left: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: #fff;
    width: 25rem;

 }

 .submit button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.9rem 2rem;
    font-weight: 400;
    width: 12rem;
 }

 .footer{
    max-width: 100%;
    margin: 1rem auto;
    overflow: auto;
    border-top: 0.6rem rgb(69, 69, 69) solid;
    padding: 5rem;
 }

 .footer, 
 .footer a{
    color: #dad6d6;
    font-size: 0.9rem;
        
 }

 .footer p{
    margin-bottom: 1.5rem;
 }

 .footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

 }

 .footer li{
    line-height: 2rem;
 }

 .copyright-txt{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
 }
.language-btn1{
    background-color: #000;
    color: #dad6d6;
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 0.1rem solid #fff;
    padding: 0.5rem 1rem;

}

.language-btn1 img{
    width: 0.8rem;
    margin-left: 0.8rem;
}
